astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
clockr==1.0
crontab==0.22.6
cycler==0.10.0
Flask==1.1.1
gunicorn==20.0.4
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
numpy==1.17.4
Pillow==6.2.1
pylint==2.4.4
pyparsing==2.4.5
python-dateutil==2.8.1
requests==2.22.0
six==1.13.0
typed-ast==1.4.0
urllib3==1.25.8
virtualenv==16.7.8
Werkzeug==0.16.0
wrapt==1.11.2
